<article class="main_page_conatiner">
    <div class="user_details_container">
        <h1>
            Post #<%= post.id%>
        </h1>
        <p>
        <strong class="bio">Title: </strong> <%= post.title %>
        <br>
        <strong class="bio">Text: </strong> <%= post.text %>
        </p>
        <div class="see_profile_container">
            <%= link_to "See post", user_post_path(user_id: post.user.id, id: post.id), class: "post_item"%>
        </div>
        <div  class="comments_likes_container">
            <p>Comments: <%= post.comments_counter %></p>
            <p>Likes: <%= post.likes_counter %></p>
        </div>
        <br>
        <br>
        <%= form_with model: @like, url: user_post_likes_path(user_id: post.user.id,
        post_id: post.id), method: :post do |f|%>
            <%= f.submit "Like", class: "like-btn" %>
        <% end %>

        <% if can? :manage, post %>
          <%= button_to "Delete",  user_post_path(user_id: post.user.id, post_id: post.id, id: post.user.id ), method: :delete, class: "like-btn" %>
        <% end %>
        
        
     
        <ul class="comments_container">
            <%= render post.return_5_recent_comments%>
        </ul>
        <br>
            <%= form_with model: @comment, url: user_post_comments_path(user_id: post.user.id,post_id: post.id), method: :post do |f|%>
                <%= f.text_field :comment, class: "like-btn" %>
                <%= f.submit "Add comment", class: "like-btn" %>
            <% end %>

        <br>
        
    </div>
</article>
